* {  /* keep in mind that this one is IE8+ */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body    {background-color:#F6F6F6; font-size: 62.5%}
h1      {color:darkblue; font-size: 2.6em;}
h3      {color:darkblue; font-size: 1.6em; margin: 0;}
p       {margin:0.3em auto;}

header {

}
footer,section,article {
    font-size: 1.6em; border:1px solid grey;
    margin:0.3em;margin-bottom:0.8em;padding:0.8em;background-color:white;
}
footer {
/*
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
*/
    color:white;background-color:#444;margin-bottom: 10px auto;
}
section {
    background-color:#ddd;
    box-shadow: 3px 5px 5px -2px;
}
nav ul  {
    margin:0;padding:0.5em;
}
nav ul li {
    margin: 0.3em 0 0.3em 0.8em;
}

@media screen and (min-width:900px) {
    iframe {
        width: 400px;
        height: 225px;

        margin:0.3em auto;
    }
}
@media screen and (max-width:899px) and (min-width:600px) {
    iframe {
        width: 300px;
        height: 168px;
        margin:0.3em auto;
    }
}
@media screen and (max-width:599px) {
    iframe {
        width: 200px;
        height: 112px;
        margin:0.3em auto;
    }
}




.list_icon {
    width:1.2em;
    height:1.2em;
    transition: 0.5s linear;
}
.list_icon:hover {
    width:1.4em;
    height:1.4em;
    transition: 0.5s linear;
}
.nav_icon {
    width:2em;
    height:2em;
}
.nav_icon:hover {
    transition: 0.1s linear;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */

}
.list_item>a {
    padding-left: 0.5em;
}
ul.sublist li { display: inline; }
.siteicon {
    display: flex;
    width:2em;
    height:2em;
}
div.myform {
    padding: 2em;
}

.link_container {
    display: flex; /* or inline-flex */
    flex-flow: row wrap; /* direction & wrap */
    justify-content: center;
}
.link_container a {
    text-decoration: none;
    margin: 0 0.3em;
}

.vid_container {


    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    overflow: auto;
}


